@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #251801;
    cursor: url('corona.png'),-webkit-grabbing, auto ;
    /* cursor: url(foo.cur), url(http://www.example.com/bar.gif), auto; */
    /* cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif) 10 3, auto; */
    
}
.foo{
    cursor: auto;
  cursor: url('./corona.png') 4 12, auto;
}
.bar  {
    cursor: pointer;
    cursor: url(cursor2.png) 2 2, pointer;
  }
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}
.container .face{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #ffcd00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;

}
.container .face:hover{
    background: linear-gradient(180deg, #f44336, #f44336, #ffcd00);
    
}
.container .face:before{
    content: '';
    position: absolute;
    top: 180px;
    width: 150px;
    height: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background: #b57700;
    transition: 0.3s;
}
.container .face:hover:before{
    top: 210px;
    width: 150px;
    height: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #9d0b00;
}
.container .face .eyes{
    position: relative;
    top: -40px;
    display: flex;
    flex-wrap: wrap;
}
.container .face .eyes .eye{
    position: relative;
    display: block;
    width: 80px ;
    height: 80px;
    margin: 0 15px;
    border-radius: 50%;
    background: #fff;
}
.container .face .eyes .eye:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: #333;
    border-radius: 50%;
}
.container h2{
    position: absolute;
    top: 75px;
    font-size: 3em;
    color: #fff;
}
.container h2:last-child{
    position: absolute;
    top: initial;
    bottom: 75px;
    font-size: 3em;
    color: #fff;
}